#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Tab-bar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-minus-red-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rich_text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-minus-red-line_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rich_text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-minus-red-line_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-Rich_text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 #s-minus-red-line_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-159c27b0-ae94-4e40-acb6-7d4edd5d75e3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}