#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rich_text_31 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 4px 0px 0px 4px;
  padding-top: 2px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 126px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-radius: 0px 4px 4px 0px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 0px;
  width: 126px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Tab-bar_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_126 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_162 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rectangle_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rectangle_2 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_115 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rectangle_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_116 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rectangle_4 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Rich_text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_117 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-322d3b82-9aad-4c1e-a4a1-1a9901585b6d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}