#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Header-top {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 64px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rich_text_22 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 63px;
  background-color: #F6F6F6;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_87 {
  position: absolute;
  top: 28px;
  left: 118px;
  width: 180px;
  height: 29px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 18.0pt;
  line-height: 18.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_87 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Statusbar-white_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 20px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 414px;
  height: 19px;
  background-color: #F6F6F6;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_62 {
  position: absolute;
  top: 3px;
  left: 41px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_62 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_63 {
  position: absolute;
  top: 4px;
  left: 331px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 11.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_63 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_64 {
  position: absolute;
  top: 0px;
  left: 169px;
  width: 78px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_64 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Group_20 {
  position: absolute;
  top: 7px;
  left: 4px;
  width: 34px;
  height: 6px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_8 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_8 .content {
  width: 6px;
  height: 6px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_8 {
  position: absolute;
  top: 0px;
  left: 21px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_8 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_23 .content {
  width: 6px;
  height: 6px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_23 {
  position: absolute;
  top: 0px;
  left: 28px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_23 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_23 span#rtr-s-Ellipse_23_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_24 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_24 .content {
  width: 6px;
  height: 6px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_24 {
  position: absolute;
  top: 0px;
  left: 14px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_24 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_24 span#rtr-s-Ellipse_24_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_25 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_25 .content {
  width: 6px;
  height: 6px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_25 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_25 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_25 span#rtr-s-Ellipse_25_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_26 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_26 .content {
  width: 6px;
  height: 6px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Ellipse_26 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_26 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #shapewrapper-s-Ellipse_26 span#rtr-s-Ellipse_26_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_65 {
  position: absolute;
  top: 1px;
  left: 338px;
  width: 50px;
  height: 19px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 9.0pt;
  line-height: 9.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_65 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Image_6 {
  position: absolute;
  top: 5px;
  left: 380px;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_45 {
  position: absolute;
  top: 31px;
  left: 378px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_45 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_1 {
  position: absolute;
  top: 63px;
  left: 0px;
  width: 413px;
  height: 35px;
  background-color: #D9D9D9;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_1 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_1 span#rtr-s-Rectangle_1_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Group_1 {
  position: absolute;
  top: 97px;
  left: 0px;
  width: 413px;
  height: 148px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 413px;
  height: 146px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Image_1 {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 140px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_21 {
  position: absolute;
  top: 43px;
  left: 164px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_21 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_1 {
  position: absolute;
  top: 40px;
  left: 190px;
  width: 73px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 10.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_3 {
  position: absolute;
  top: 9px;
  left: 168px;
  width: 119px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 16.0pt;
  line-height: 16.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-ok-blue {
  position: absolute;
  top: 43px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-ok-blue .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-close-blue {
  position: absolute;
  top: 43px;
  left: 375px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-close-blue .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_22 {
  position: absolute;
  top: 82px;
  left: 165px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_22 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_2 {
  position: absolute;
  top: 79px;
  left: 191px;
  width: 73px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0000FF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 10.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-ok-blue_1 {
  position: absolute;
  top: 82px;
  left: 325px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-ok-blue_1 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-close-blue_1 {
  position: absolute;
  top: 82px;
  left: 376px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FF0000;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-close-blue_1 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Group_8 {
  position: absolute;
  top: 94px;
  left: 192px;
  width: 74px;
  height: 22px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_11 {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_11 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Image_7 {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 10px;
  height: 10px;
  opacity: 0.64;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Tab-bar_1 {
  position: absolute;
  top: 685px;
  left: 0px;
  width: 414px;
  height: 50px;
  background-color: #F6F6F6;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Tab-bar_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Tab-bar_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Tab-bar_1 span#rtr-s-Tab-bar_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_12 {
  position: absolute;
  top: 719px;
  left: 8px;
  width: 66px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_12 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_13 {
  position: absolute;
  top: 719px;
  left: 95px;
  width: 66px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #0000FF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_13 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_14 {
  position: absolute;
  top: 719px;
  left: 178px;
  width: 66px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_14 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_15 {
  position: absolute;
  top: 719px;
  left: 259px;
  width: 66px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_15 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_16 {
  position: absolute;
  top: 719px;
  left: 344px;
  width: 66px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_16 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_286 {
  position: absolute;
  top: 693px;
  left: 27px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_286 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_119 {
  position: absolute;
  top: 692px;
  left: 194px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_119 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_126 {
  position: absolute;
  top: 693px;
  left: 278px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_126 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_162 {
  position: absolute;
  top: 694px;
  left: 360px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_162 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_79 {
  position: absolute;
  top: 691px;
  left: 113px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_79 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Group_7 {
  position: absolute;
  top: 152px;
  left: 191px;
  width: 74px;
  height: 22px;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_10 {
  position: absolute;
  top: 0px;
  left: 12px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_10 .valign {
  vertical-align: middle;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Image_5 {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 10px;
  height: 10px;
  opacity: 0.64;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_59 {
  position: absolute;
  top: 34px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 #s-Label_59 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-35da8fef-d742-470d-bd67-5d768b4b1eb0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}