#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Tab-bar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-minus-red-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-minus-red-line_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-minus-red-line_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-minus-red-line_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-82b6cff0-dec2-4c40-999a-09e3a0428792 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}