#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}