#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-867754e4-77a6-412a-8f8e-4b8e36327f74 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}