#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-ok-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-close-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-ok-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-close-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-ok-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-close-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Button-blue {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Button-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Tab-bar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64) ;
  filter: alpha(opacity=64) ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}