#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rich_text_22 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_63 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_64 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Ellipse_26 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_65 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_45 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-ok-blue {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-close-blue {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-ok-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-close-blue_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-ok-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-close-blue_2 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Button-blue {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Rectangle_7 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Button-blue_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #157EFB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #157EFB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #157EFB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #157EFB;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 65px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Tab-bar_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_126 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_162 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_5 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64);
  filter: alpha(opacity=64);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64);
  filter: alpha(opacity=64);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c #s-Image_8 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=64);
  filter: alpha(opacity=64);
}
.ui-page {
  overflow-x: hidden;
}
#s-a8f529e4-fd9f-4777-aadd-de29ef30ec7c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}