#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Tab-bar_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_126 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_162 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_120 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-d972aa00-6b87-4f04-b9d6-ea57c0e7a50f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}