#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Rich_text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Tab-bar_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_286 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_119 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_126 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_162 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_79 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Button-black {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 87px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_304 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_59 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Button-black_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 89px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_145 {
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Button-black_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 57px;
  height: 27px;
  -ms-transform: rotate(0.0deg);
}
#s-def2943c-422d-4516-9106-6de0b69ff95d #s-Label_228 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-def2943c-422d-4516-9106-6de0b69ff95d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}