#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_37 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_415 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_416 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_65 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Ellipse_23 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Ellipse_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_39 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_129 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_132 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}