#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_415 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_416 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Ellipse_23 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e68d1485-e772-48ea-810d-a92f09021538 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}