#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 #s-ok-blue_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-e7da516d-99c3-4fcb-9c77-09e4284f1d92 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}