#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Tab-bar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-minus-red-line {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Label_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-minus-red-line_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-f985cc9d-7207-4892-be72-b4b35cb8ae22 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}