#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-cd2769ab-fe21-43b7-84a5-d9b251e25194 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}