#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d3502d47-9f59-44d2-898a-7699be611abb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}