#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Tab-bar_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Tab-bar_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_286 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 #t-Label_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-d6a89ccf-f09f-4a29-991d-8a6ba8336cf6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}