<html>
  <body>
    <div class="ui-page">
         <div id="t-d3502d47-9f59-44d2-898a-7699be611abb" class="template growth-both firer commentable" name="My GIVI">
         <div id="backgroundBox"></div>
         <div id="alignmentBox">
           <link type="text/css" rel="stylesheet" href="./resources/templates/d3502d47-9f59-44d2-898a-7699be611abb-1428930377241.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/d3502d47-9f59-44d2-898a-7699be611abb-1428930377241-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/d3502d47-9f59-44d2-898a-7699be611abb-1428930377241-ie8.css" /><![endif]-->
           <div id="t-Header-top" class="group firer ie-background commentable">
             <div id="t-Rich_text_22" class="richtext firer commentable" >
               <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rich_text_22_0"></span>
                   </div>
                 </div>
               </div>
             </div>
             <div id="t-Label_87" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>My GIVI</span></div></div></div>
             <div id="t-Statusbar-white_1" class="group firer ie-background commentable">
               <div id="t-Rectangle_4" class="rectangle firer commentable" >
                <div class="clipping">
                 <div class="content">
                   <div class="valign">
                     <span id="rtr-t-Rectangle_4_0"></span>
                   </div>
                 </div>
                </div>
               </div>
               <div id="t-Label_62" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
               <div id="t-Label_63" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span></span></div></div></div>
               <div id="t-Label_64" class="label firer pageload ie-background commentable" ><div class="content"><div class="valign"><span>4:02 PM</span></div></div></div>
               <div id="t-Group_20" class="group firer ie-background commentable">
                 <div id="t-Ellipse_8" class="ellipse shape non-processed-shape firer commentable" >
                   <div class="shapert-clipping">
                       <div class="content">
                         <div class="valign">
                            <span id="rtr-t-Ellipse_8_0"></span>
                         </div>
                       </div>
                   </div>
                 </div>
                 <div id="t-Ellipse_23" class="ellipse shape non-processed-shape firer commentable" >
                   <div class="shapert-clipping">
                       <div class="content">
                         <div class="valign">
                            <span id="rtr-t-Ellipse_23_0"></span>
                         </div>
                       </div>
                   </div>
                 </div>
                 <div id="t-Ellipse_24" class="ellipse shape non-processed-shape firer commentable" >
                   <div class="shapert-clipping">
                       <div class="content">
                         <div class="valign">
                            <span id="rtr-t-Ellipse_24_0"></span>
                         </div>
                       </div>
                   </div>
                 </div>
                 <div id="t-Ellipse_25" class="ellipse shape non-processed-shape firer commentable" >
                   <div class="shapert-clipping">
                       <div class="content">
                         <div class="valign">
                            <span id="rtr-t-Ellipse_25_0"></span>
                         </div>
                       </div>
                   </div>
                 </div>
                 <div id="t-Ellipse_26" class="ellipse shape non-processed-shape firer commentable" >
                   <div class="shapert-clipping">
                       <div class="content">
                         <div class="valign">
                            <span id="rtr-t-Ellipse_26_0"></span>
                         </div>
                       </div>
                   </div>
                 </div>
               </div>
               <div id="t-Label_65" class="label firer ie-background commentable" ><div class="content"><div class="valign"><span>80%</span></div></div></div>
               <img id="t-Image_6" class="image firer ie-background commentable"   alt="image" src="./images/22debeef-b843-438f-993f-10afaef0a68b.png"/>
             </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>